* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

p {
    text-justify: distribute;
}

i {
    height: 30px;
    width: 30px;
    font-size: 30px;
    color: black;
}

input {
    border-radius: 20px;
}

i:hover {
    cursor: pointer;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin: 0 5px;
}

/* NPC TRACKER */

#NPC-tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.NPC-tracker-NPC {
    display: flex;
    flex-direction: ;
    height: auto;
    width: 98%;
    border: 1px solid white;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
}

.NPC-tracker-NPC-info-haut-name-input {
    height: 30px;
    width: 60%;
}

.NPC-tracker-NPC-info-haut-localisation-input {
    height: 30px;
    width: 60%;
}

.NPC-tracker-NPC-info-bas-comment-input {
    height: 30px;
    width: 100%;
}

#NPC-tracker-addNPC {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#addButton {
    height: 50px;
    width: 100px;
    background-color: whitesmoke;
    border: 1px solide purple;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
}

#addButton:hover {
    background-color: aqua;
}

.NPC-tracker-NPC-info {
    width: 85%;
}

/* NPC Stats */

.NPC-tracker-stats {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-right: 20px;
}

.NPC-tracker-stats-rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


.stats-input {
    height: 40px;
    width: 40px;

}

/* NPC boutons */

.NPC-tracker-NPC-boutons {
    width: 15%;
}

.deathdiv {
    display: flex;
    flex-direction: row;
}

.deathbox {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.NPC-tracker-NPC-info-bas {}



.NPC-tracker-NPC-info-bas-comment {
    overflow: auto;
    height: 55px;
}

#container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

#mob-tracker {
    grid-area: 1 / 1 / 2 / 2;
    width: 99%;
    height: 99%;
    border: 2px solid grey;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.6699054621848739) 0%, rgba(0, 0, 0, 1) 100%);
    border-radius: 20px;
}

#time-tracker {
    grid-area: 2 / 1 / 3 / 2;
    border: 2px solid grey;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    width: 99%;
    height: 99%;
}

#NPC-tracker {
    grid-area: 1 / 2 / 3 / 3;
    border: 2px solid grey;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.6474964995994399) 0%, rgba(109, 67, 167, 0.7792366946778712) 100%);
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#NPC-tracker-addNPC-name {
    height: 30px;
}

#NPC-tracker-addNPC-localisation {
    height: 30px;
}

#NPC-tracker-addNPC-text {
    width: 400px;
    height: 30px;
}

/* NOTEBOARD */

#noteboard {
    grid-area: 1 / 2 / 3 / 3;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* https://cssgradient.io/ */
/* Flip card ----------------------------------------- */
/* https://www.w3schools.com/howto/howto_css_flip_card.asp */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    border: 1px solid #f1f1f1;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
} */

.flip {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}